*{
    margin: 0px;
}

body{
    background-color: #d1d1e9;
}

.borde-negro{
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; 
    color: white;
}

.header-padre{
    height: 400px;
}

.img_profile{
    margin-block-start: 25px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
}


#nav-flex{
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-block-start: 25px;
}

#formacion{
    flex-basis: 10%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

#formacion a{
    text-decoration: none;
    color: inherit;
}

#formacion:hover{
    background-color: #6246ea;
}

#experiencia{
    flex-basis: 10%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

#experiencia a{
    text-decoration: none;
    color: inherit;
}

#experiencia:hover{
    background-color: #6246ea;
}

#practicas{
    flex-basis: 10%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

#practicas a{
    text-decoration: none;
    color: inherit;
}

#practicas:hover{
    background-color: #6246ea;
}

#proyectos{
    flex-basis: 10%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

#proyectos a{
    text-decoration: none;
    color: inherit;
}

#proyectos:hover{
    background-color: #6246ea;
}

#referencias{
    flex-basis: 10%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

#referencias a{
    text-decoration: none;
    color: inherit;
}

#referencias:hover{
    background-color: #6246ea;
}

h1{
    font-family: Catamaran, serif;
    color: white;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2{
    font-family: Josefin slab, serif;
    color: 2b2c34;
}

p{
    font-family: Maitree, serif;
    color: #2b2c34;
}

#about-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 0.8rem;
    width: 50%;
}

.mitad{
    width: 45%;
}

section{
    margin: 2px 1px 1.5px;
    margin-top: 0.8rem;
    padding: 2% 1.2%;
    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px
}

header{
    text-align: center;
    background-image: url('fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

